body{
    background-color: #f7f7f7;
    margin: 50px 280px 40px 280px;
    font-family: 'Montserrat';
}

section{
    margin: 0;
    padding: 0 0 40px 0;
}

section{
    border-bottom: 2px black solid;
}

h1{
    font-size: 36px;
    margin-bottom: 20px;
}

h2{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

h3{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3:first-of-type{
    margin-top: 25px;
}

p{
    font-size: 16px;
    line-height: 1.5em;
}