body{
    margin: 0 260px 0 260px;
    font-family: 'Montserrat';
    background-color: #f7f7f7;
}

section{
    display: flex;
}

section:first-of-type{
    margin-bottom: 50px;
}

h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 36px;
}

h2{
    font-size: 14px;
    margin-bottom: 60px;
}

article{
    margin-left: 25px;
}

img{
    border: solid grey 2px;
}