body{
    font-family: 'Montserrat';
    margin: 50px 315px 50px 315px;
}

#date{
    font-style: italic;
    margin-bottom: 50px;
}

section{
    display: flex;
    justify-content: space-between;
}

section img{
    margin: 0 10px 0 10px;
}

figcaption{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

p{
    line-height: 1.5em;
}

h1{
    margin: 0 0 15px;
}

h2{
    margin: 40px 0 0 0;
}