html{
    width: 1366px;
    height: 768px;
    background-image: url(images/grass.png);
    background-repeat: no-repeat;
    position: relative;
}

body {
    font-family: 'Kanit';
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5em;
    text-align:center;
    color: white;
}

h1{
    margin: 0;
    font-family: 'Road Rage';
    font-size: 56px;
    padding: 50px 540px 0 540px;
    line-height: 1em;
    color: black;
}

h2{
    font-size: 16px;
    display: inline-block;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    transform: rotate(-25deg);
    position: absolute;
    top: 120px;
    left: 720px;
}

h3{
    font-size: 24px;
    color: white;
}

h4{
    font-size: 72px;
    margin: 40px;
    padding-top: 20px;
}

p{
    font-size: 16px;
    color: white;
    padding: 0 300px 0 300px;
    margin-top: 50px;
    line-height: 1.5em;
}

#dice p{
    padding: 0 60px 0 60px;
    margin: 0px;
}

#dice img{
    padding-top: 100px;
}

#score{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    color: black;
}

button { 
    font-size: 24px;
    padding: 10px;
    color: white;
    background-color: red;
    margin-top: 100px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

button:hover{
    background-color: #800000;
    cursor: pointer;
}

div {
    padding: 20px;
}

#rancho{
    width: 404px;
    height: 500px;
}

#bella{
    width: 404px;
    height: 500px;
}

#dice{
    width: 404px;
    height: 500px;
}

#game{
    padding: 0;
}

#qbuttons{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#arrows{
    position: absolute;
    padding: 0;
    top: 250px;
}

#arrows img{
    top: 100px;
}

#actions1 button{
    margin-top: 50px;
}

#actions2 button{
    margin-top: 50px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

li{
    list-style-type: none;
    margin-right: -250px;
    margin-left: -250px;
}

a{
    text-decoration: none;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: 500;
}